h1{
    text-align: center;
    font-family: cursive    ;
    
}

.imgSigno{

    width: 300px;
    height: 100px;
    display: block;
}

button{
    width: 50%;
    height:  50px;
    margin-bottom: 20px;
    text-align: center;
  
}
button:hover{
    cursor: pointer;
    background-color: chocolate;
    color: white;
   
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
body{
    background-color: gold
}
